@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  a {
    color: #1155cc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1, h2, h3 {
    font-weight: bold;
    color: #000;
  }
}
